body{
  background-color: #343434 ;
  color: #ffff;
  font-family: sans-serif;
  margin-left: 10%;
  margin-top: 3%;
}

#Header{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;

}
#Header h1{
  font-size: 1rem;
}

.Main{
  line-height: 20px;
  margin-top: 15%;
  overflow:hidden ;
  
  
  
}
.contact-right{ background-color: white;
position: absolute;
right: 0%;
width: 40px;
padding-left: 15px;
height: 250px;
border-radius: 10px;
}
a{width: 35px;
height: 35px;}
.icons{display: flex;
left: 10%;
top: 2%;
gap: 12px;

  position: absolute;
 justify-content: flex-end;
flex-direction: column}
.design{position: absolute; z-index: 2;}
.design-1{position: absolute;z-index: -1; 
right:  0;}

.Main p{font-size: 1.125rem;
}
.Main h1{font-size: 4.5rem;}
.Main h2{
  font-size: 5rem;
  /* Ensure the text block fits its content */
  background: linear-gradient(90deg, rgba(137,207,240,1) 0%, rgba(137,207,240,1) 35%, rgba(255,255,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-size: 100%; /* Ensures the gradient scales with text */
  line-height: 1; /* Adjust if text appears cropped vertically */}
#About-me{margin-top: 30%;}
#About-me h1{
  background: linear-gradient(90deg, rgba(137,207,240,1) 0%, rgba(137,207,240,1) 35%, rgba(234,244,248,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-size: 100%; /* Ensures the gradient scales with text */

}
a{text-decoration: none; color: white;}
a:visited{color: white; text-decoration: none;}
.text-content{
  margin-top: -25%;
}
.pic{width: 400px;
  margin-top:10% ;
height: 500px;}
#About-me{
position: relative;
}
#About-me h2{
  margin-left: 40%;
  margin-right: 10%;
  font-size: 1.225rem;
  color: #89CFF0;
}
#About-me  p{

  margin-left: 40%;
  margin-right: 10%;
}
.line{height: 2px;
  width: 100px;
background-color: white;
position: absolute; top: 3%; left: 10%;
}

.line-1{height: 2px;
  width: 100px;
background-color: white;
position: absolute; top: 2%; left: 7%;
}
.line-3{height: 2px;
  width: 100px;
background-color: white;
position: absolute; top: 2%; left: 9%;
}

#Skills{
  margin-top: 30%;
  margin-right: 10%;
  position: relative;
}
#Skills h1 {
  color: #89CFF0;
}
.skillset{
  margin-top: 10%;
  display: flex;
  text-align: center;
  gap: 90px;
position: relative;
 
}
.skillset h1{
    line-height: 10px;
}
.skillset2{
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  display: flex;
  text-align: center;
  gap: 90px;

}
#Projects{
  margin-top: 150px;
  position: relative;
}
#Projects h1{

  color: #89CFF0;
}
.left-side{
position: relative;

margin-left: -10%;


}

.left-side p{
  display: inline-block;
  position: absolute;
  
  width: 345px;
  font-size: 1.025rem;
  height: 200px;
  top: 25%;
  left: 30%;
}
.left-side h1{

    display: inline-block;
    position: absolute;
    
    width: 345px;
    font-size: 1.125rem;
    height: 200px;
    top:20%;
    left: 30%;
    color: #89CFF0;
}
.left-side img{
  width: 800px;
  height: 700px;
  
}
.right-side{
  position: relative;

margin-right: 100%;
}
.right-side h1 {
  display: inline-block;
  position: absolute;
  
  width: 345px;
  font-size: 1.025rem;
  height: 200px;
  top: -80%;
  left: 30%;
  margin-left: 500px;
  color: #89CFF0;
}
.right-side p {
  display: inline-block;
  position: absolute;
  
  width: 345px;
  font-size: 1.025rem;
  height: 200px;
margin-left: 500px;
top: -50%;

}

.right-side img{
  width: 600px;
  height: 600px;
margin-top: -500px;
margin-left: 600px;
}


footer{
  margin-top: 10%;
  text-align: center;
}
.highlight{
color: #89CFF0;
}
.line-2{

 margin-left: 2%;
  width: 90%; background-color: white;
height: 2px;}
footer h1 {
  margin-left: 25%;
  margin-right: 30%;
  margin-top: 5%;
}
.contacts{
margin-top: 10%;
margin-left: -4%;
margin-right: 0%;
  display: flex;
  justify-content: space-around;
  font-size: 8px;
  font-weight: lighter;
}
.btt{
  background-color: red;

  border-radius: 5px;
  font-size: 5rem;
}
/* hover effects */

/* media queries */
@media screen and (min-width: 1080px) and (max-width: 1920px) {
  #About-me h2{
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 0%;
    font-size: 1.525rem;
    color: #89CFF0;
  }
  #About-me  p{
  position: absolute;
  font-size: 1.2rem;
    margin-left: 40%;
    margin-right: 20%;
  }
  .line{height: 2px;
    width: 100px;
  background-color: white;
  position: absolute; top: 4%; left: 7%;
  }
  
  .line-1{height: 2px;
    width: 100px;
  background-color: white;
  position: absolute; top: 2%; left: 5%;
  }
  .line-3{height: 2px;
    width: 100px;
  background-color: white;
  position: absolute; top: 2%; left: 6%;
  }
  .proj{
   margin-left: 15%;
  }
}
